---
import HeaderNavLayout from '@/components/headerNavLayout.astro';
import MyFooter from '@/components/myFooter.astro';
import Layout from '@/layouts/Layout.astro';
import SectionContainer from '@/components/sectionContainer.astro';
import { categories } from '@/data/categories';
import ProductCard from '@/components/productCard.astro';
---

<Layout
title="Welcome to Astro."
description=""
>
	<main>
        <HeaderNavLayout active="Categorias" />
        <SectionContainer>
            <ul
            class="flex justify-center flex-wrap gap-6"
            >
                {
                    categories.map(n => (
                        <ProductCard
                        extraClass="bg-black max-w-[350px]"
                        image_src={n.image}
                        title={n.title}
                        />
                    ))
                }
            </ul>
        </SectionContainer>
		<MyFooter />
	</main>
</Layout>

<style>

</style>
