---
import Layout from '@/layouts/Layout.astro';
import SectionContainer from '@/components/sectionContainer.astro';
import TextCite from '@/components/textCite.astro';


const links = [
    {
        name: "Portfolio",
        url: "https://www.diego18.pro/",
    },
    {
        name: "Repositorio",
        url: "https://github.com/diego-dev018/KeyboardPedia",
    },
]
---

<Layout
title="KeyboardPedia - Sobre nosotros"
description="Descripcion sobre las metas y objetivos de la pagina. Ademas de conocer a los colaboradores."
headerNavActive="Sobre nosotros"
>
    <SectionContainer className="flex flex-col lg:flex-row gap-4 w-full !mb-10">
        <div class="flex mx-auto lg:mx-0 gap-2 flex-col">
            <div
            style="background-image: url('/FotoDePerfil.JPEG');"
            class="w-80 aspect-[9/11] bg-center bg-cover rounded-xl bg-slate-100 blur-md"
            />
            {
                links.map((link) => (
                    <a
                    href={link.url}
                    class="text-xl bg-slate-800 hover:bg-slate-700 rounded-xl text-center font-semibold px-2 pt-2 pb-3 transition"
                    target="_blank"
                    >
                        {link.name}
                    </a>
                ))
            }
        </div>
        <div>
            <p class="text-xl font-medium">
                Hola, mi nombre es <TextCite>Diego Sánchez,</TextCite>y estoy emocionado de compartir un poco sobre mí y mis intereses contigo. Actualmente, soy estudiante de <TextCite>Ingeniería en Desarrollo de Software,</TextCite> un campo que me apasiona.<br><br>

                Decidí emprender este proyecto como una forma de explorar y compartir uno de mis grandes intereses en el mundo de la tecnología: <TextCite>Los teclados mecánicos personalizados.</TextCite>Aunque no soy un experto ni tengo una extensa colección, este tema me resulta fascinante. Hay algo especial en la posibilidad de personalizar completamente un teclado según tus necesidades, preferencias y estilo personal.<br><br>

                <TextCite>Los teclados mecánicos personalizados ofrecen una libertad que simplemente no puedes encontrar en los teclados comerciales.</TextCite> Desde la elección de los switches (que determinan la sensación y el sonido al escribir) hasta los keycaps (las cubiertas de las teclas), el layout (el diseño de la disposición de las teclas) y la estética general, todo puede adaptarse a tus gustos específicos. Más allá de lo visual, también tienen la ventaja de ser una opción más duradera, con mejor relación calidad-precio en muchos casos, y ofrecen características adicionales que pueden mejorar la experiencia de escritura o gaming.<br><br>

                Esta pagina esta hecha con el fin de ser minimalista y con el unico motivo de compartir informacion sobre el tema.<br><br>

                Espero que disfrutes explorando esta parte de mi portafolio y que encuentres información interesante que te inspire a conocer más sobre este fascinante hobby.<br><br>

                <TextCite>Si deseas apoyar a este proyecto, puedes hacerlo a través de una contribucion monetarea o sobre la data.</TextCite>
            </p>
        </div>
    </SectionContainer>
    <SectionContainer className="flex w-full !pt-0 !py-0 !mt-0 !mb-0">
        <a
        class="text-2xl bg-slate-800 hover:bg-slate-700 rounded-xl text-center font-extrabold italic px-2 py-1 w-full transition"
        href="/"
        target="_blank"
        >
            <p class="hover:scale-105 hover:text-yellow-200 py-2 transition">
                Donar
            </p>
        </a>
    </SectionContainer>
    <p
    onclick="this.classList.add('!opacity-0');"
    class="w-fit mx-auto !mt-0 !mb-12 font-semibold opacity-55 animate-bounce italic py-4 cursor-default transition">Gracias :)</p>
</Layout>