---
import Layout from "@/layouts/Layout.astro";
import CategoriesView from "@/components/categoriesView.astro";

// console.log(categoriesForP.length);
---

<Layout
title="KeyboardPedia - Categorias"
description="La mejor pagina de informacion sobre teclados mecanicos. Encuentra informacion sobre teclados mecanicos, switches, keycaps y mucho mas."
headerNavActive="Categorias"
>
    <div class="my-24">
        <h1 class="text-center text-yellow-200 text-4xl font-bold mb-8">
            Explora las 
            <cite class="not-italic border-b-[1px] text-purple-300 border-b-slate-700">CATEGORÍAS</cite>
            disponibles :)
        </h1>
        <CategoriesView />
    </div>
</Layout>