---
import IndexStartingSearch from '@/components/indexStartingSearch.astro';
import IndexTitle from '@/components/indexTitle.astro';
import SectionVideo from '@/components/sectionVideo.astro';
import Layout from '@/layouts/Layout.astro';
import KeyboardsGalery from '@/components/keyboardsGalery.astro';
---

<Layout
title="KeyboardPedia - Inicio"
description="La mejor pagina de informacion sobre teclados mecanicos. Encuentra informacion sobre teclados mecanicos, switches, keycaps y mucho mas."
headerNavActive="Inicio"
>
	<div class="py-20">
		<IndexTitle />
<!-- 		<SectionVideo
		className="border-slate-600 border-2 transition-all"
		video_id="N_psXRtVgAQ"
		/> -->
		<IndexStartingSearch />
		<KeyboardsGalery />
	</div>
</Layout>