---
import IndexStartingSearch from '@/components/indexStartingSearch.astro';
import IndexTitle from '@/components/indexTitle.astro';
import SectionVideo from '@/components/sectionVideo.astro';
import Layout from '@/layouts/Layout.astro';
import KeyboardsGalery from '@/components/keyboardsGalery.astro';
---

<Layout
title="Welcome to Astro."
description=""
headerNavActive="Inicio"
>
	<div class="py-20">
		<IndexTitle />
		<SectionVideo extraClassVideo="shadow-white border-slate-600 border-[1px] hover:border-4 transition-all" video_id="N_psXRtVgAQ" />
		<IndexStartingSearch />
		<KeyboardsGalery />
	</div>
</Layout>

<style>

</style>
