---
import HeaderNavLayout from '@/components/headerNavLayout.astro';
import MyFooter from '@/components/myFooter.astro';
import PinProducts from '@/components/pinProducts.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
title="Welcome to Astro."
description=""
>
	<main>
		<header
		class="w-full h-[35rem]"
		>
			<HeaderNavLayout
			active="Inicio"
			/>
		</header>
		<PinProducts />
		<MyFooter />
	</main>
</Layout>

<style>

</style>
