---
import IndexStartingSearch from '@/components/indexStartingSearch.astro';
import IndexTitle from '@/components/indexTitle.astro';
import SectionVideo from '@/components/sectionVideo.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
title="Welcome to Astro."
description=""
headerNavActive="Inicio"
>
	<div class="py-20">
		<IndexTitle />
		<SectionVideo video_id="cxp_hlfMxbk" />
		<IndexStartingSearch />
	</div>
</Layout>

<style>

</style>
