---
import SectionContainer from "@/components/sectionContainer.astro";
import { categoriesForPage } from "@/data/categories";
---

<SectionContainer className="!py-0 !mb-0 !mt-0 w-full">
    <ul
    class="grid grid-cols-4 gap-y-6 w-full justify-between"
    >
        {
            categoriesForPage.map(n => (
                <li>
                    <a 
                    href={n.href}
                    >
                        <div 
                        class:list={["flex items-center justify-center aspect-square max-w-[400px] rounded-xl hover:border-2 border-slate-400 bg-center bg-cover transition-all",
                            n.bg_img ? "" : "bg-slate-600"
                        ]}
                        style={`background-image: url('${n.bg_img}');`}
                        >
                            <h2 class="text-center text-3xl font-bold">{n.name}</h2>
                        </div>
                    </a>
                </li>
            ))
        }
    </ul>
</SectionContainer>

<style>
    ul {
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
</style>