---
interface Props {
    url: string;
    avatar_url: string;
    login: string;
    contributions: number;
}
const { url, avatar_url, login, contributions } = Astro.props;
---
<li class="bg-slate-800 rounded-md hover:scale-105 transition">
    <a
    target="_blank"
    href={url}
    >
        <div
        class="w-52 md:w-full aspect-square bg-cover bg-center"
        style={`background-image: url(${avatar_url})`}
        />
        <h5 class="text-center text-purple-300 text-2xl font-semibold pt-1">
            {login}
        </h5>
        <p class="text-center text-sm font-medium text-slate-400 pb-2">
            {contributions} {contributions === 1 ? 'contribución' : 'contribuciones'}
        </p>
    </a>
</li>