---
import SearchBar from './searchBar.astro';

interface Props {
    active: string;
}

const { active } = Astro.props;

const buttons = [
    {
        name: "Inicio",
        href: "/",
    },
/*     {
        name: "Categorias",
        href: "/categories",
    }, */
    {
        name: "Sobre nosotros",
        href: "/about-us",
    },
]
---

<nav class="flex justify-between items-center px-28 py-10 border-b-[1px] border-slate-800">
    <h1 class="text-3xl font-extrabold cursor-default">
        KeyBoardPedia
    </h1>
    <ul class="flex gap-4">
        {
            buttons.map(n => (
                <li class="hover:scale-110 transition">
                    <a 
                    href={n.href} 
                    class:list={[
                        active === n.name ? "text-white" : "text-gray-400",
                        "text-xl font-semibold pb-2 pt-1 px-4 rounded-xl border-[1px] border-slate-700 hover:border-slate-500 hover:bg-slate-800 transition"
                    ]}>
                        {n.name}
                    </a>
                </li>
            ))
        }
    </ul>
    <SearchBar />
</nav>