---
import SearchBar from '@/components/searchBar.astro';

interface Props {
    active: string;
}

const { active } = Astro.props;

const buttons = [
    {
        name: "Inicio",
        href: active == "Inicio" ? null : "/",
        cursor: "pointer",
        className: ""
    },
    {
        name: "Categorias",
        href: "/categories",
        cursor: "pointer",
        className: ""
    },
    {
        name: "Sobre nosotros",
        href: active == "Sobre nosotros" ? null : "/about-us",
        cursor: "pointer",
        className: "!hidden sm:!inline"
    },
]
---

<nav class="flex flex-col gap-2 xl:gap-6 xl:flex-row justify-between items-center lg:px-28 py-3 lg:py-10 border-b-[1px] border-slate-800">
    <h1 class="text-[2.5rem] sm:text-[3rem] xl:text-3xl font-extrabold cursor-default">
        KeyBoardPedia
    </h1>
    <ul class="flex gap-4">
        {
            buttons.map(n => (
                <li class={`hover:scale-110 transition w-fit mx-auto`}>
                    <a
                    style={`cursor: ${n.cursor};`}
                    href={n.href}
                    class:list={[
                        active === n.name ? "text-white" : "text-gray-400",
                        "text-xl font-semibold pb-2 pt-1 px-4 rounded-xl border-[1px] border-slate-700 hover:border-slate-500 hover:bg-slate-800 transition", n.className
                    ]}>
                        {n.name}
                    </a>
                </li>
            ))
        }
    </ul>
    <SearchBar className="py-4 xl:py-0" />
</nav>