---
import SearchBar from "@/components/searchBar.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import SubtitleContainer from "@/components/subtitleContainer.astro";
---

<SectionContainer>
    <SubtitleContainer
    subtitle="Empieza a Buscar"
    extraClass="mx-auto"
    icon="fas fa-search"
    />
    <SearchBar
    extraClass="flex !gap-4 max-w-[1000px] mx-auto"
    extraInputClass="!w-full h-[100px] text-2xl font-bold !px-8"
    extraButtonClass="!w-[200px] h-[100px] text-2xl"
    />
    <p class="text-lg w-fit mx-auto mt-2 italic opacity-35">Estoy trabajando en la implementacion de categorias para hacer mas didactica la busqueda :)</p>
</SectionContainer>