---
import SearchBar from "@/components/searchBar.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import SubtitleContainer from "@/components/subtitleContainer.astro";

interface Props {
    className?: string;
    classSubtitle?: string;
}

const { className, classSubtitle } = Astro.props;
---

<SectionContainer className={className}>
    <SubtitleContainer
    subtitle="Empieza a Buscar"
    className={`mx-auto !text-[3rem] !pb-5 ${classSubtitle}`}
    icon="fas fa-search"
    />
    <SearchBar
    className="flex !gap-4 mx-auto"
    extraInputClass="!w-full h-[100px] text-2xl font-bold !px-8"
    extraButtonClass="!w-[200px] h-[100px] text-2xl"
    />
    <p class="text-lg w-fit mx-auto mt-2 italic opacity-35">Estoy trabajando en la implementacion de categorias para hacer mas didactica la busqueda :)</p>
</SectionContainer>