---
import SectionContainer from "@/components/sectionContainer.astro";
---

<SectionContainer
className="flex flex-col gap-5 md:flex-row md:gap-0 !py-6 lg:!py-10 !mt-0 !mb-0 bg-gray-800 bg-opacity-20 text-white justify-between items-center border-t-[1px] border-slate-800"
>
    <h3 class="text-4xl md:text-3xl font-extrabold cursor-default">
        KeyBoardPedia
    </h3>
    <div>
        <h4 class="flex gap-2 text-2xl font-bold">
            Creado por 
            <a
            class="italic border-b-[1px] border-b-slate-700 hover:border-b-slate-400 hover:text-yellow-200 transition duration-500"
            href="https://www.diego18.pro"
            target="_blank"
            >Diego Sánchez</a>
        </h4>
    </div>
    <a
    class="sm:hidden"
    href="/about-us"
    >
        <p
        class="text-lg font-bold border-b-[1px] border-b-slate-700"
        >
            Sobre Nosotros
        </p>
    </a>
</SectionContainer>