---
import SectionContainer from "@/components/sectionContainer.astro"

interface Props {
    video_id: string;
    className?: string;
    extraClass?: string;
}

const { video_id, className, extraClass } = Astro.props;
---

<SectionContainer>
    <div class:list={["", extraClass]}>
        <lite-youtube
        class:list={[
            "rounded-2xl aspect-video mx-auto",
            className,
        ]}
        videoid={video_id}
        ></lite-youtube>
    </div>
</SectionContainer>