---
interface Props {
    subtitle: string;
    className?: string;
    icon?: string;
}

const { subtitle, className, icon } = Astro.props;
---

<h3 class:list={["flex items-center gap-4 text-4xl font-bold w-fit text-yellow-200 py-4", className]}
>
    {subtitle}
    <i
    class:list={["text-2xl mt-1", icon, icon ? "" : "hidden"]}
    ></i>
</h3>